<!DOCTYPE html>
<html>
<head>
  <title>Classification Model Training</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Classification Model Configuration</h1>

    <form action="/Classification" method="POST">
      <label for="epochs">Epochs:</label>
      <input type="number" name="epochs" id="epochs" value="10" min="1" required>

      <label for="learning_rate">Learning Rate:</label>
      <input type="number" step="0.0001" name="learning_rate" id="learning_rate" value="0.001" required>

      <label for="hidden_layer">hidden_layer size:</label>
      <input type="number" name="hidden_layer" id="hidden_layer" value="10" min="1" required>

      <button type="submit">Train Model</button>
    </form>

    {% if train_plot_path %}
      <div class="plot-section">
        <h3>Training Plot</h3>
        <img src="{{ url_for('static', filename=train_plot_path.split('static/')[1]) }}" width="450">
      </div>
    {% endif %}

    {% if val_plot_path %}
      <div class="plot-section">
        <h3>Validation Plot</h3>
        <img src="{{ url_for('static', filename=val_plot_path.split('static/')[1]) }}" width="450">
      </div>
    {% endif %}
    {% if test_plot_path %}
      <div class="plot-section">
        <h3>Test Plot</h3>
        <img src="{{ url_for('static', filename=test_plot_path.split('static/')[1]) }}" width="450">
      </div>
    {% endif %}
  </div>
</body>
</html>
