<!DOCTYPE html>
<html>
<head>
  <title>Regression Model Training</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Regression Model Configuration</h1>

    <form action="/Regression" method="POST">
      <label for="epochs">Epochs:</label>
      <input type="number" name="epochs" id="epochs" min="1" required>

      <label for="learning_rate">Learning Rate:</label>
      <input type="number" step="0.0001" name="learning_rate" id="learning_rate" required>

      <label for="hidden_layer">hidden_layer size:</label>
      <input type="number" name="hidden_layer" id="hidden_layer"  min="1" required>

      <button type="submit">Train Model</button>
    </form>

    <!-- <div id="loading" style="display:none; text-align:center; margin-top:20px;">
      <img src="{{ url_for('static', filename='1484.gif') }}" width="100"><br>
      <p><strong>Training model... Please wait.</strong></p>
    </div> -->
    
    {% if train_plot_path %}
    <script>
      alert("🎉 Model training completed successfully!");
    </script>
    {% endif %}

    {% if train_plot_path %}
      <div class="plot-section">
        <h3>Training Plot</h3>
        <img src="{{ url_for('static', filename=train_plot_path.split('static/')[1]) }}" width="450">
      </div>
    {% endif %}

    {% if val_plot_path %}
      <div class="plot-section">
        <h3>Validation Plot</h3>
        <img src="{{ url_for('static', filename=val_plot_path.split('static/')[1]) }}" width="450">
      </div>
    {% endif %}
        {% if train_view_plot_path %}
      <div class="plot-section">
        <h3>Train_View_Plot</h3>
        <img src="{{ url_for('static', filename=train_view_plot_path.split('static/')[1]) }}" width="450">
      </div>
    {% endif %}
    {% if test_plot_path %}
      <div class="plot-section">
        <h3>Test View Plot</h3>
        <img src="{{ url_for('static', filename=test_plot_path.split('static/')[1]) }}" width="450">
      </div>
    {% endif %}
  </div>
  <!-- <script>
    const form = document.getElementById('trainForm');
    const loading = document.getElementById('loading');
    form.addEventListener('submit', () => {
      loading.style.display = 'block';
    });
  </script> -->
</body>
</html>
